<header>
  <h2><%= @raver.name %>, plan your trip</h2>
  <p>
    <%= @festival.name %> | <%= display_date(@festival.start_date).split(',')[0] %> - <%= display_date(@festival.end_date).split(',')[0] %>, <%= display_year(@festival.start_date) %>
  </p>

  <ul class='trip-menu'>
    <li class='flight'>
      <a href="#flight">
        Add flight <i class="fa fa-paper-plane-o"></i>
      </a>
    </li>
    <li class='hotel'>
      <a href="#hotel">
        Add hotel <i class="fa fa-building-o"></i>
      </a>
    </li>
    <li class='lineup'>
      <a href="#lineup">
        Customize lineup <i class="fa fa-heart-o"></i>
      </a>
    </li>
    <li class='itinerary'>
      <a href="#itinerary">
        View itinerary <i class="fa fa-list"></i>
      </a>
    </li>
  </ul>
</header>
