<h2><%= @raver.name %>, plan your trip</h2>

<input type="hidden" id='trip-id' value='<%= @trip.id %>'></input>

Destination: <%= @festival.name %>, <%= display_date(@festival.start_date) %> - <%= display_date(@festival.end_date) %>

<nav class='trip'>
  <ul>
    <li class='flight-section'>Add flight</li>
    <li class='hotel-section'>Add hotel</li>
    <li class='lineup-section'>Customize lineup</li>
    <li class='itinerary-section'>View current itinerary</li>
  </ul>
</nav>


<script type="text/javascript">
  $(function() {
    window.router = new GoRaver.Routers.Trips();
    Backbone.history.start();
  });
</script>

<div class="show">
  <section class='flight current'>
    <h3>Flight search:</h3>

    <form class='search-flight'>
      From:
      <input type="text" id='from-airport' value='<%= @raver.location %>'></input><br/>
    <!-- Drop down to select airport -->
      To:
      <input type="text" id='to-airport' value='<%= @festival.location %>'></input><br/>
      Depart:
      <input type="text" id='depart-date' value='<%= @date1 %>'></input><br/>
      Return:
      <input type="text" id='return-date' value='<%= @date2 %>'></input><br/>
      <button id='search-flight'>Search on Kayak</button>
    </form>


    <form class="view-flights">
      <input class='result-url' placeholder="Paste your Kayak search result url here"></input>
      <button id='view-flights'>View flights</button>
    </form>

    <div class="flight-results"></div>

    <button id='save-flight'>Save and continue</button>
  </section>
</div>



<!-- Hidden -->
<div class="hidden">
  <section class='lineup'>
    <h3>Dream lineup:</h3>
    <p>Drag artists from the official list and drop in the left column to create your own lineup</p>

    <div class='own'>
      <h4>Your lineup</h4>
    </div>

    <ul class='official'>
    <h4>Official lineup</h4>
    <% @festival.lineup.sort.each do |artist| %>
      <li><%= artist %></li>
    <% end %>
    </ul>

    <button id='save-lineup'>Save and continue</button>
  </section>

  <section class='hotel'>
  </section>

  <section class='itinerary'>

  </section>
</div>
