<input type="hidden" id='trip-info' trip-data='<%= @trip.id %>'
festival-data='<%= @festival.id %>'
playlist-data='<%= @festival.playlist %>'></input>

<div class="trip-wrapper">
  <%= render 'layouts/nav' %>
  <%#= render 'layouts/music' %>

  <!-- <script>
  //   // Must be called after rendering music player
  //   $(function() {
  //     playMusic();
  //   });
      </script> -->

  <%= render 'nav' %>

  <div class="show">
    <section class='flight current'>
      <%= render 'flight' %>

      <button id='save-flight'>Continue</button>
    </section>
  </div>


  <!-- Hidden -->
  <div class="hidden">
    <%= render 'lineup' %>

    <section class='hotel'>
      <h2>Coming soon.</h2>
      <button id='save-hotel'>Continue</button>
    </section>

    <%= render 'itinerary' %>
  </div>

</div> <!-- trip wrapper -->
