<input type="hidden" id='trip-id' value='<%= @trip.id %>'></input>
<input type="hidden" id='festival-id' value='<%= @festival.id %>'></input>

<script>
  fetchPlaylist();
</script>

<div class="trip-wrapper">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/music' %>

  <header>
    <h2><%= @raver.name %>, plan your trip</h2>
    <p>
      <%= @festival.name %> | <%= display_date(@festival.start_date) %> - <%= display_date(@festival.end_date) %>, <%= display_year(@festival.start_date) %>
    </p>

    <ul class='trip-menu'>
      <li class='flight-tab current-tab'>
        Add flight <i class="fa fa-paper-plane-o"></i>
      </li>
      <li class='hotel-tab'>
        Add hotel <i class="fa fa-building-o"></i>
      </li>
      <li class='lineup-tab'>
        Customize lineup <i class="fa fa-heart-o"></i>
      </li>
      <li class='itinerary-tab'>
        View itinerary <i class="fa fa-list"></i>
      </li>
    </ul>
  </header>


  <div class="show">
    <section class='flight current'>
      <%= render 'layouts/flight' %>

      <button id='save-flight'>Save and continue</button>
    </section>
  </div>



<!-- Hidden -->
<div class="hidden">
  <section class='lineup'>
    <p>Drag artists from the official list and drop in the left column to create your own lineup.</p>

    <ul class='own'>
      <h2>Dream lineup:</h2>
      <% @trip.lineup.sort.each do |artist| %>
        <li><%= artist.html_safe %></li>
      <% end %>
    </ul>

    <ul class='official'>
      <h3>Official lineup</h3>
      <% @festival.lineup.sort.each do |artist| %>
        <li><%= artist %></li>
      <% end %>
    </ul>

    <button id='save-lineup'>Save and continue</button>
  </section>

  <section class='hotel'>
    <h2>Coming soon.</h2>
    <button id='save-hotel'>Continue</button>
  </section>


  <section class='itinerary'>
    <% if @trip.flights.length > 0 %>
      <h2>Trip details:</h2>
      <div class="current-flight"></div>
    <% end %>

    <h3>Line up:</h3>
    <% if @trip.lineup %>
      <div class="current-lineup">
      <% @trip.lineup.each do |artist| %>
        <span><%= artist.html_safe %></span>
      <% end %>
      </div>
    <% end %>
    <button id='share'>Spread the PLUR</button>

    <%# if @trip.hotel != nil %>
<!--  <h3>Hotel booking:</h3>
      <div class="current-hotel"></div> -->
    <%# end %>

  </section>
</div> <!-- hidden div -->


</div> <!-- trip wrapper -->
