<script>
  $(function() {
    fetchPlaylist();
    //$('.player').hide();
  });
</script>

<input type="hidden" id='trip-id' value='<%= @trip.id %>'></input>
<input type="hidden" id='festival-id' value='<%= @festival.id %>'></input>


<div class="trip-wrapper">
<%= render 'layouts/nav' %>
<%= render 'layouts/music' %>

<header>
  <h2><%= @raver.name %>, plan your trip</h2>
  <p>
    <%= @festival.name %> | <%= display_date(@festival.start_date) %> - <%= display_date(@festival.end_date) %>, <%= display_year(@festival.start_date) %>
  </p>

  <ul class='trip-menu'>
    <li class='flight-section'>Add flight</li>
    <li class='hotel-section'>Add hotel</li>
    <li class='lineup-section'>Customize lineup</li>
    <li class='itinerary-section'>View itinerary</li>
  </ul>
</header>

<div class="show">
  <section class='flight current'>
    <%# if @trip.flights.length == 0 %>
      <%= render 'layouts/flight' %>
    <%# else %>
      <script> //render with backbone </script>
    <%# end %>

    <button id='save-flight'>Save and continue</button>
  </section>
</div>



<!-- Hidden -->
<div class="hidden">
  <section class='lineup'>
    <p>Drag artists from the official list and drop in the left column to create your own lineup</p>

    <ul class='own'>
      <h2>Dream lineup:</h2>
      <% @trip.lineup.sort.each do |artist| %>
        <li><%= artist.html_safe %></li>
      <% end %>
    </ul>

    <ul class='official'>
    <h3>Official lineup</h3>
    <% @festival.lineup.sort.each do |artist| %>
      <li><%= artist %></li>
    <% end %>
    </ul>

    <button id='save-lineup'>Save and continue</button>
  </section>

  <section class='hotel'>
    <h3>Coming soon.</h3>
  </section>

  <section class='itinerary'>
    <!-- render backbone -->
  </section>
</div> <!-- hidden div -->


</div> <!-- trip wrapper -->
