<table>
  <tr>
    <td>
      <h4 class='airline'><%= airline %></h4>
    </td>

    <td>
      <span class='price'>
        <%= price %>
      </span> &nbsp; &nbsp;
      <a href='<%= link %>' class='buy' target='_blank'>
        Buy now
      </a>
    </td>
  </tr>

  <tr>
    <td>
    Depart:
    </td>
    <td class='leg1'>
      <%= leg1 %>
    </td>
  <tr>

  <tr>
    <td>
      Return:
    </td>
    <td class='leg2'>
      <%= leg2 %>
    </td>
  </tr>

  <tr>
    <td colspan='2'>
      <span class='delete-flight'>
        <i class="fa fa-minus-circle"></i> Unsave
      </span>
      <span class='save-flight'>
        <i class="fa fa-plus-circle"></i> Save
      </span>
    <td>
  </tr>
<table>
