<h3><%- festival %></h3>

From <%- start_date %> to <%- end_date %><br/>

To see: <%= lineup %><br/>

Depart flight: <%= leg1 %><br/>
Return flight: <%= leg2 %><br/>

<form class='edit-trip' action='/trips/<%- trip_id %>'>
  <button>Edit trip</button>
</form>

<div class='clear'></div>
