<h3>
  <%= festival %> <span class='year'><%= start_date.split(', ')[1] %></span> <span class='expand'>Details</span>
</h3>

<div class='details'>
  From <%- start_date.split(',')[0] %> to <%- end_date.split(',')[0] %>, <%- start_date.split(', ')[1] %><br/>

  Line up: <%= lineup %><br/>
  Flight: <%= from_airport %> - <%= to_airport %>

  <button class='delete-trip'>Delete trip</button>

  <form class='edit-trip' action='/trips/<%- trip_id %>'>
    <button>Edit trip</button>
  </form>

</div>
