<h3><%- festival %></h3>

Traveling from <%- from_airport %> to <%- to_airport %><br/>

From <%- start_date %> to <%- end_date %><br/>

To see: <%- lineup %><br/>

Depart flight: <%= leg1 %><br/>
Return flight: <%= leg2 %><br/>

<form class='edit-trip' action='/trips/<%- trip_id %>'>
  <button>Edit trip</button>
<form>
