<h3><%- festival %></h3>

Traveling from <%- from_airport %> to <%- to_airport %><br/>

From <%- start_date %> to <%- end_date %><br/>

To see: <%- lineup %><br/>

Flight details:<br/>
Depart: <%= leg1 %><br/>
Return: <%= leg2 %><br/>

<form class='edit-trip'>
  <input type='hidden' value='<%- trip_id %>'></input>
  <button>Edit trip</button>
<form>
