<h3>
  <%= festival %> <span class='year'><%= start_date.split(', ')[1] %></span>
</h3>

<div class='details'>
  From <%- start_date %> to <%- end_date %><br/>

  To see: <%= lineup %><br/>
  Flight: <%= from_airport %> - <%= to_airport %>

  <form class='edit-trip' action='/trips/<%- trip_id %>'>
    <button>Edit trip</button>
  </form>

  <button class='delete-trip'>Delete trip</button>
</div>
