<div class="background">

<div class="raver-wrapper">
  <%= render 'layouts/nav' %>

  <nav class="raver" data-id="<%= @raver.id %>">
    <h3 class='current-raves'>
      <i class="fa fa-heart"></i> Your raves
    </h3>
    <h3 class='new-rave'>
      <i class="fa fa-plus"></i> Plan new rave
    </h3>
  </nav>
  <div class="clear"></div>

  <script>
    if (<%= @raver.trips.length == 0 %>) {
      $('.new-rave').addClass('current-tab');
    } else {
      $('.current-raves').addClass('current-tab');
    }

    setTimeout(raverNav, 200);

    if ($('.trips .upcoming').children().html() === '') {
      $('.trips').append('You currently don\'t have any trip planned.');
    }
  </script>

  <h1>Hi <%= @raver.name %></h1>
  <%= render 'trip_new' %>

  <section class='trips'>
    <h2 class='past'>Past trips:</h2>
    <div class='past'></div>

    <h2 class='upcoming'>Upcoming trips:</h2>
    <div class='upcoming'></div>
  </section>

</div> <!-- wrapper -->

</div> <!-- background -->
