<div class="background">

<div class="raver-wrapper">
  <%= render 'layouts/nav' %>

  <nav class="raver" data-id="<%= @raver.id %>">
    <h3 class='current-raves'>Current raves</h3>
    <h3 class='new-rave'>Plan new rave</h3>
  </nav>
  <div class="clear"></div>

  <script>
    if (<%= @raver.trips.length == 0 %>) {
      $('.new-rave').addClass('current-tab');
    } else {
      $('.current-raves').addClass('current-tab');
    }

    setTimeout(raverNav, 200);

    if ($('.trips .upcoming').children().html() === '') {
      $('.trips').append('You currently don\'t have any trip planned.');
    }
  </script>

  <h2>Hi <%= @raver.name %></h2>
  <%= render 'trip_new' %>

  <section class='trips'>
    <h3>Past trips:</h3>
    <div class='past'></div>

    <h3>Upcoming trips:</h3>
    <div class='upcoming'></div>
  </section>

</div> <!-- wrapper -->

</div> <!-- background -->
